# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\home\course-leverx1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
